@font-face {
  font-family: "TTLakes-Regular";
  src: url("../font/TTLakes-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "TTLakes-Bold";
  src: url("../font/TTLakes-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}


* {
  font-family: "TTLakes-Regular";

}

body{
  background-color: #F8F8F8;
} 
header{
  background-color: #fff;
}
.menu__flex{
  display: flex;
  justify-content: space-between;
}

.menu__flexstart{
  align-items: center;
  height: 88px;
  display: flex;
  justify-content: start;
}

.menu__flexend{
  align-items: center;
  height: 88px;
  display: flex;
  justify-content: flex-end;

}

.menu__burger {
  position: relative;

}
.menu__item{
  margin: 16px;
  margin-left: 0px;
}

.menu__text{
  display: none;
}


.menu__img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.menu__repair {
  position: relative;
  margin-left: 16px;

}
.menu__repair::before {
  content: "";
  display: block;
  height: 32px;
  width: 2px;
  background-color: #EAEAEA;
  position: absolute;
  left: -30px;
  top: 4px;
}

.mobile{
  display: none;
}
.container {
  margin: 0 auto;
  padding: 0  16px;
}
.desktop_link{
  display: none;
}


.main-block {
  background-color: #F8F8F8;
  border-top: 1px solid #D9FFF5;
}

.info {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
}
.info::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.info__list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  /* padding:0; */
}

.info__item {
  padding: 8px 16px;
  /* margin-left: 16px; */
  color: #7E7E82;
  font-size: 16px;
  line-height: 24px;
  height: 40px;
  border: 2px solid transparent;
  cursor: pointer;
}

.info__item:nth-child(1){
  margin-left: 0;
}

.info__item:hover {
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
  background-color: #fff;
}
.info__link {
  text-decoration: none;
}

.info__link:visited {
  color: inherit;
}

.title {
  font-family: "TTLakes-Bold";
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  color: #1B1C21;
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 40px;
  background-color: #41F6D7;
  left: -16px;
  border-radius: 0px 10px 10px 0px;
}

.section {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  background-color: #F8F8F8;
}

.container_half__text {
  display: flex;
  font-size: 14px;
  line-height: 18px;
  color: #1B1C21;
  cursor: default;
  margin-bottom: 20px;
  max-height: 90px;
  overflow-y: hidden;
}

.text__read-more {
  padding: 10px 0px 10px 20px;
  font-size: 16px;
}



.container_half__image {
  /* border-radius: 10px; */
  /* min-width: 320px; */
  min-width: 320px;
  width: 100%;
  cursor: default;
  margin-left: -16px;
  margin-top: 35px;
  margin-bottom: 35px;
  
}

.details__svg{
  margin-right: 15px;
}

